EXPO_PUBLIC_MOVIE_API_KEY="{YOUR_API_KEY}"
TMDB_API_KEY="{YOUR_API_KEY}"

EXPO_PUBLIC_APPWRITE_PROJECT_ID="{YOUR_API_KEY}"
EXPO_PUBLIC_APPWRITE_PROJECT_NAME="{YOUR_PROJECT_NAME}"
EXPO_PUBLIC_APPWRITE_ENDPOINT="{YOUR_ENDPOINT}"